# LLM密钥
OPENAI_API_KEY=your_openai_api_key

# OpenAI兼容接口地址和模型名称
OPENAI_BASE_URL=your_openai_compatible_base_url
OPENAI_MODEL=your_model_name

# LangSmith 相关配置(用于调试/监控Langgraph流程) —— 未到langgraph模块无需修改
LANGCHAIN_API_KEY=


